/* navbar */
.navbar-header {
  width: 100%;
  background: var(--color-primary);
  padding: 10px 0px;
}

.navbar-header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-header-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-header-details p {
  color: var(--pure-white);
  font-size: 12px;
}

.navbar-header-content svg {
  color: var(--pure-white);
  cursor: pointer;
}

.navbar-header-link {
  color: var(--pure-white);
  text-transform: uppercase;
}

.navbar-header-link:hover {
  opacity: 80%;
}

@media (max-width: 576px) {
  .navbar-header-details p {
    font-size: 10px;
  }

  .navbar-header-link {
    font-size: 14px;
  }
}

/* navbar body */

.navbar-body {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px -10px;
}

.navbar-body-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-body-pages {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-body-links {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 20px;
}

.navbar-body-cart {
  width: 60px;
  height: 60px;
  background: var(--color-secondary);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: relative;
}

.navbar-body-cart svg {
  color: var(--color-third);
  font-size: 35px;
}

.navbar-body-cart span {
  position: absolute;
  top: 2px;
  font-weight: 600;
  color: var(--pure-white);
  color: var(--color-third);
}

.navbar-body-delivery {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-body-delivery p:first-child {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-secondary);
}

.navbar-body-delivery p:last-child {
  font-size: 15px;
  color: var(--color-secondary);
}

.navbar-body-btn {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 700;
  color: var(--color-third);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.navbar-body-btn:hover {
  opacity: 90%;
  scale: 0.9;
}

.navbar-bars {
  font-size: 35px;
  color: var(--color-primary);
  display: none;
}

@media (max-width: 576px) {
  .navbar-body {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .navbar-body-logo {
    width: 70px;
  }

  .navbar-body-logo img {
    width: 100%;
  }

  .navbar-body-delivery {
    display: none;
  }

  .navbar-body-cart {
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-right: 20px;
  }

  .navbar-body-cart svg {
    font-size: 28px;
  }

  .navbar-body-cart span {
    font-size: 10px;
  }

  .navbar-body-pages {
    display: none;
  }

  .navbar-body-btn {
    font-size: 12px;
    font-weight: 700;
    width: 60px;
    height: 30px;
  }

  .navbar-bars {
    display: flex;
    margin-left: 20px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .navbar-body-pages {
    display: none;
  }

  .navbar-bars {
    display: flex;
    margin-left: 20px;
  }
}

/* footer */

.footer {
  width: 100%;
}

.ourBranch {
  text-align: center;
  width: 100%;
  font-size: 35px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 50px;
}

.footer-up {
  padding-top: 37px;
  padding-bottom: 17px;
  background: var(--color-primary);
}

.footer-boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-box {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-name {
  font-size: 35px;
  font-weight: 700;
  color: var(--color-third);
}

.address {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-third);
  padding: 13px 0;
}

.footer-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-details div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-details div svg {
  color: var(--color-third);
}

.footer-details div p {
  font-size: 12px;
  color: var(--color-third);
}

.footer-map {
  font-size: 18px;
  color: var(--color-link);
  cursor: pointer;
}

.footer-bot {
  width: 100%;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 32px;
  background: var(--color-secondary);
}

.footer-bot p {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-third);
}

@media (max-width: 576px) {
  .footer-boxes {
    flex-direction: column;
    gap: 50px;
  }

  .footer-name {
    font-size: 25px;
  }

  .address {
    font-size: 16px;
  }

  .footer-bot p {
    font-size: 12px;
    font-weight: 400;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .footer-boxes {
    flex-direction: column;
    gap: 50px;
  }
}
